/* Base Colours */
:root {
  --char-grey-base: #E5E5E5;

  /* Bruno Colours */
  --bruno-grey-base: #4B4B4B;
  --bruno-pos: #7DB84F;
  --bruno-neg: #E56464;
  --bruno-warning: #E5A259;

  /* General Colours */
  --pale-purple: #AFAFAF;
  --light-purple: #DDB1F9;
  --dark-purple: #9069CD;
  --pale-blue: #B9E8FF;
  --light-blue: #84D7FF;
  --dark-blue: #2561AC;
  --pale-blue-green: #C6FDE7;
  --light-blue-green: #5AEAB1;
  --dark-blue-green: #43B487;
  --pale-green: #D7FFB8;
  --light-green: #B8F28B;
  --dark-green: #7DB84F;
  --pale-orange: #FFF1A7;
  --light-orange: #FFCB80;
  --dark-orange: #E5A259;
  --pale-red: #FFDFE0;
  --light-red: #FFB2B2;
  --dark-red: #E56464;
  --pale-pink: #FFD0F2;
  --light-pink: #F9A3D7;
  --dark-pink: #D45DA6;

  /* Blank n White */
  --real-white: #f2f2f2;
  --white: #E5E5E5;
  --black: #131F24;
  --light-grey: #AFAFAF;
  --dark-grey: #4B4B4B;
  --shadow: #afafaf58;
}
body {
  margin: 0;
  background-color: var(--white);
  font-family: "Montserrat", serif;
  font-size: 24px;
}
button {
  font-family: "Montserrat", serif;
}
.container {
  width: 100%;
  padding: 80px 0;
  max-width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: dotted underline var(--dark-blue);
  color: var(--dark-blue);
}

/* Flex */
.flex {
  display: flex;
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
}

.base-button-one {
  background-color: var(--light-blue);
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 10px 0 var(--shadow);
  font-weight: 500;
  font-size: 24px;
  padding: 20px 40px;
}
.base-button-one:hover {
  background-color: var(--dark-blue);
  color: var(--pale-blue);
  cursor: pointer;
}

.container-80 {
  height: 80%;
}

.button-green {
  background-color: var(--light-blue-green);
}
.button-green:hover {
  background-color: var(--dark-blue-green);
  color: var(--pale-blue-green);
}

.button-orange {
  background-color: var(--light-orange);
}
.button-orange:hover {
  background-color: var(--dark-orange);
  color: var(--pale-orange);
}



*:focus-visible {
  outline: 2px solid var(--dark-purple);
  background-color: var(--light-purple);
  color: var(--dark-purple);
}

canvas:focus, canvas:focus-visible{
  background: var(--real-white);
}