// Base Colours
$char-grey-base: #E5E5E5;

// Bruno Colours
$bruno-grey-base: #AFAFAF;
$bruno-pos: #7DB84F;
$bruno-neg: #E56464;
$bruno-warning: #E5A259;

// General Colours
$pale-purple: #AFAFAF;
$light-purple: #DDB1F9;
$dark-purple: #9069CD;
$pale-blue: #B9E8FF;
$light-blue: #84D7FF;
$dark-blue: #2561AC;
$pale-blue-green: #C6FDE7;
$light-blue-green: #5AEAB1;
$dark-blue-green: #43B487;
$pale-green: #D7FFB8;
$light-green: #B8F28B;
$dark-green: #7DB84F;
$pale-orange: #FFF1A7;
$light-orange: #FFCB80;
$dark-orange: #E5A259;
$pale-red: #FFDFE0;
$light-red: #FFB2B2;
$dark-red: #E56464;
$pale-pink: #FFD0F2;
$light-pink: #F9A3D7;
$dark-pink: #D45DA6;

// Blank n White
$white: #E5E5E5;
$black: #131F24;
$light-grey: #AFAFAF;
$dark-grey: #4B4B4B;




